<div class='dashboard'>
  <div class='followup-categories'>
    <div class='filter-placeholder'></div>

    <div class='category new-task-container'>
      <div class='animation-container'>
        <div class='new-task'>
          <div class='new-task-title'>
            <%= fa_icon 'plus' %>
            <span>New Task</span>
          </div>
          <%= render 'dashboard/create_task' %>
        </div>

        <div class='backface'>
          <div class='checkmark'>
            <div class='check-bar left-check-bar'></div>
            <div class='check-bar right-check-bar'></div>
          </div>
          <p>Created</p>
        </div>
      </div>
    </div>

    <div class='category filter inbox'>
      <%= fa_icon 'envelope' %>
      <span>Inbox</span>
      <div class='active-filter-bar'></div>
    </div>

    <div class='category filter sent'>
      <%= fa_icon 'paper-plane' %>
      <span>Sent</span>
    </div>

    <div class='category filter archived'>
      <%= fa_icon 'archive' %>
      <span>Archived</span>
    </div>
  </div>

  <div class='followup-filter-content inbox-active'>
    <div class='prism'>
      <div class='followup-content inbox-content'>INBOX 11111111</div>
      <div class='followup-content sent-content'>SENT 22222222</div>
      <div class='followup-content archived-content'>ARCHIVED 3333333</div>
    </div>
  </div>
</div>
